<td class="footer">
  <table class="rbcc footer__main">
    <tr>
      <td class="footer__main__signature" align="left">
        <div class="headline">
          <!-- @echo name -->
        </div>
        <div class="copy">
          <!-- @echo subline -->
        </div>
      </td>
    </tr>
    <tr class="footer__main__row">
      <td class="footer__main__col__td" align="left">
        <a href="<!-- @echo website -->">
          <img src="<!-- @echo logoUrl -->" alt="<!-- @echo logoAlt -->" class="footer__main__col__td__img" />
        </a>
      </td>
    </tr>
    <tr>
      <td class="footer__main__col__td" align="left">
        <div class="copy row-spacer">
          <!-- @echo contactMain -->
        </div>
      </td>
    </tr>
    <tr>
      <td class="footer__main__col__td" align="left">
        <div class="copy row-spacer">
          <!-- @echo contactSecondary -->
        </div>
      </td>
    </tr>
    <tr>
      <td class="footer__main__col__td" align="left">
        <div class="copy row-spacer-large">
          <!-- @echo contactTertiary -->
        </div>
      </td>
    </tr>
    <tr>
      <td class="footer__main__col__td" align="left">
        <div class="row-spacer">
          <a href="<!-- @echo facebook -->">
            <img src="<!-- @echo facebookUrl -->" alt="<!-- @echo facebookAlt -->"
              class="footer__main__col__td__icon" />
          </a>
          <a href="<!-- @echo youtube -->">
            <img src="<!-- @echo youtubeUrl -->" alt="<!-- @echo youtubeAlt -->" class="footer__main__col__td__icon" />
          </a>
          <a href="<!-- @echo instagram -->">
            <img src="<!-- @echo instagramUrl -->" alt="<!-- @echo instagramAlt -->"
              class="footer__main__col__td__icon" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</td>