<td class="footer">
  <table class="footer__main">
    <tr>
      <td class="main-wrapper__inner" align="left" valign="top">
        <table class="container" align="left" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="column">
              <a href="https://leoff.com/" target="_blank">
                <img class="logo" src="./assets/leoff_logo_2x.png">
              </a>
            </td><!-- /.column -->
          </tr>
          <tr>
            <td class="column sender">
              Frank Leoff
            </td><!-- /.column -->
          </tr>
          <tr>
            <td class="column">
              LEOFF Investment Management GmbH<br />
              Weißliliengasse 7<br />
              55116 Mainz<br />
              T +49 6131 33379-10<br />
              <a href="mailto:frank.leoff@leoff.com">frank.leoff@leoff.com</a><br />
              <a href="https://leoff.com/">www.leoff.com</a><br />
            </td><!-- /.column -->
          </tr>
          <tr>
            <td class="column">
              Amtsgericht Mainz HRB 45729<br />
              Geschäftsführer: Frank Leoff, Hubertus von Rothkirch und Panthen, Stephan Wollersheim
            </td><!-- /.column -->
          </tr>
          <tr>
            <td class="column">
              <a href="https://www.xing.com/pages/leoffassetmanagementgmbh" target="_blank">
                <img class="icon" src="./assets/xing.png">
              </a>
              <a href="https://www.linkedin.com/company/leoff-asset-management/" target="_blank">
                <img class="icon" src="./assets/linkedin.png">
              </a>
              <a href="https://www.instagram.com/leoff_realestate/" target="_blank">
                <img class="icon" src="./assets/instagram.png">
              </a>
            </td><!-- /.column -->
          </tr>
          <tr>
            <td class="column disclaimer">
              Diese E-Mail inklusive aller Anlagen ist ausschließlich für den Adressaten bestimmt und
              enthält möglicherweise vertrauliche Informationen. Falls der Empfänger dieser Nachricht
              nicht der beabsichtigte Adressat oder ein für den Mail-Zugang zuständiger Mitarbeiter oder
              Vertreter ist, werden Sie hiermit darauf aufmerksam gemacht, dass jede Weitergabe,
              Verteilung, Vervielfältigung oder sonstige Nutzung dieser Nachricht oder ihrer Anlagen
              verboten ist. Wenn Sie diese Nachricht aus Versehen erhalten haben, informieren Sie bitte
              den Absender per E-Mail und löschen Sie diese E-Mail aus Ihrem Computer.
            </td>
          </tr>
          <tr>
            <td class="column disclaimer">
              This e-mail message and all attachments transmitted with it are intended solely for the use
              of the addressee and may contain legally privileged and confidential information. If the
              reader of this message is not the intended recipient, or an employee or agent responsible
              for delivering this message to the intended recipient, you are hereby notified that any
              dissemination, distribution, copying, or other use of this message or its attachments is
              strictly prohibited. If you have received this message in error, please notify the sender
              immediately by replying to this message and please delete it from your computer.
            </td>
          </tr>
        </table><!-- /.container -->
      </td><!-- /.main-wrapper__inner -->
    </tr>
  </table>
</td>